@import '~antd/dist/antd.css';

body{
  background: #f0f2f5;
}
.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}

#bootstrap-table tbody td{
	white-space:normal!important; 
	word-break:break-all!important; 
}

/*登录*/
#login-container{
  height: 100% !important;
  background-size: cover !important;
}
.wallBg{
  background: #235d8b url('./assets/town.png') no-repeat scroll 0 bottom;
}
#login {
  top: 38%;
  position: fixed;
  width: 420px;
  left: 50%;
  margin-left: -210px;
  margin-top: -187px;
  height: 374px;
  /*background: #ffffff;*/
  border: 0 solid #d8d8d8;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 54px;
  padding-right: 54px;
  font-family: "微软雅黑";
}

#login-name {
  position: relative;
  height: 60px;
  line-height: 60px;
  font-size: 48px;
  text-align: center;
  margin-bottom: 24px;
  color: #002a8d;
  font-family: "微软雅黑";
  font-weight: bold;
  color: #ffffff;
  text-shadow: rgb(51, 51, 51) 1px 1px 1px;
}
#login-logo {
  position: absolute;
  width: 434px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  position: absolute;
  left: -61px;
  top: -15px;
}
.login-icon {
  position: absolute;
  left: 16px;
  top: 1px;
  width: 40px;
  height: 32px;
  z-index: 1;
  background: #f0f0f0;
  border-top: 0 solid #e4eaec;
  border-left: 0 solid #e4eaec;
  border-bottom: 0 solid #e4eaec;
}

.login-input-container {
  position: relative;
  margin-bottom: 25px;
  height: 34px;
  clear: both;
}

.login-input {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 15px;
  width: 312px;
  height: 34px;
  background: transparent;
  padding-left: 50px;
  z-index: 2;
}

.login-input-below {
  margin-left: 20px;
  margin-right: -20px;
  padding-left: 50px;
  color: #999999;
  position: absolute;
  left: 0;
  top: 0;
  width: 308px;
  height: 34px;
  line-height: 34px;
  z-index: 0;
  border: 0 solid #000000;
}

#login-setting {
  position: absolute;
  right: -30px;
  top: 0;
  width: 40px;
  height: 32px;
  line-height: 32px;
}

#certificate-setting-button {
  color: #ffffff;
  text-shadow: 1px 1px 1px #666666;
}

#login-submit {
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  margin-left: 0;
  margin-bottom: 15px;
}

#copyright {
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: -10px;
  left: 0;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #666666;
}

.bg-white {
  background: #ffffff;
}

.help-block {
  display: block;
  margin-top: 38px !important;
  margin-bottom: 10px;
  color: #737373;
}